<div class="container">
  <div class="overlay"></div>
  <button class="go-back-button">Назад</button>
  <label for="section-form" class="form-title">Запись "title записи"</label>
  <form name="section-form">
    <input
    name="title-input"
    type="text"
    placeholder="title записи"
    >
    <textarea
      name="content-text"
      placeholder="Контент записи"
    ></textarea>
    <div class="form-buttons">
      <button class="delete-button">Удалить</button>
      <button type="submit-button" class="add">Сохранить</button>
    </div>
  </form>
  <div class="confirm-delete-form">
    <p>Вы уверены, что хотите удалить раздел?</p>
    <div class="delete-form-buttons">
      <button type="submit" class="cancel-delete-button">Нет</button>
      <button class="confirm-delete-button">Да</button>
    </div>
  </div>
</div>
