<div >
  <div class="container">
    <div [class.overlay]="isEditMode"></div>
    <h1 class="blog-title">Блог</h1>
    <section class="content-area" *ngIf="SectionsService.sections.length; else noSections">
      <app-section *ngFor="let section of SectionsService.sections" [title]="section.title" [content]="section.content" [id]="section.id"></app-section>
    </section>
    <ng-template #noSections>
      <p style="text-align: center;">No sections now! Push button and create their!</p>
    </ng-template>
    <button class="add-section-button" (click)="onAddNewSectionClick()">+ Добавить</button>
    <app-new-section-form *ngIf="isEditMode" (closeNewSectionForm)="closeNewSectionForm()" [id]="SectionsService.sections.length + 1"></app-new-section-form>
  </div>
</div>
<router-outlet></router-outlet>