.new-section-form {
  position: absolute;
  bottom: 50%;
  right: 30%;
  width: 40%;
  display: flex;
  flex-flow: column;
  border: 1px black solid;
  background-color: rgb(235, 233, 233);
  padding: 20px 10px 10px;
  z-index: 11;
}

input, textarea {
  border: 2px black solid;
  margin-bottom: 20px;
  word-break: break-all;
  overflow: hidden;
}

textarea {
  height: 60px;
}

.new-section-buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px;
  background-color: lightblue;
  margin-left: 10px;
}